@import "variables";
@import "mixins";

:root {
  --font-family: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  .container {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    padding: 0 200px;
    max-width: 1920px;
    height: 1200px;
  }
  .analytics-info {
    @include flex-center;
    flex-direction: column;
    font-family: var(--font-family);
  }
  .analytics-info h1 {
    margin-top: 64px;
    font-weight: 600;
    font-size: 60px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-align: center;
    color: $color-title;
  }
  .analytics-info p {
    padding-top: 24px;
    padding-bottom: 48px;
    font-weight: 400;
    font-size: 20px;
    width: 768px;
    text-align: center;
    line-height: 150%;
    color: #667085;
  }
  .button {
    @include flex-center;
    gap: 12px;
    margin-bottom: 64px;
  }

  .btn {
    @include flex-center;
    gap: 12px;
    padding: 16px 28px;
    font-family: var(--font-family);
    color: #344054;
    background-color: #fff;
    border: 1px solid #d0d5dd;
    width: 143px;
    height: 60px;
    @include btn;
  }
  .btn2 {
    width: 121px;
    height: 60px;
    font-family: var(--font-family);
    background-color: $btn-background-color;
    color: #ffffff;
    @include btn;
  }
  .statistics {
    @include flex-center;
    position: relative;
    background-image: url('img/MacBook.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1280px;
    height: 706px;
    padding: 22px 143px 70px 153px;
  }

  .statistics img {
    position: absolute;
    width: 984px;
    height: 614px;
  }
  .statistics .brand {
    position: absolute;
    bottom: 45px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.81);
  }

@include tablet {
  .container {
    width: 100%;
    height: 1200px;
    padding: 0 80px;
    max-width: 1280px;
  }
  .analytics-info {
    width: 1120px;
    height: 264px;
  }
  .statistics {
    background-size: 1120px 706px;
  }

  .statistics img {
    width: 861px;
  }
}

@include mobile {
  .container {
    width: 100%;
    padding: 0 30px;
    max-width: 360px;
    height: 645px;
  }
  .analytics-info {
    width: 300px;
    height: 210px;
  }
  .analytics-info h1 {
    width: 300px;
    font-size: 28px;
    line-height: 140%;
    text-align: center;
    color: #101828;
  }
  .analytics-info p {
    font-size: 16px;
    line-height: 187%;
    width: 300px;
  }
  .button {
    @include flex-center;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 0;
  }

  .btn {
    @include flex-center;
    gap: 12px;
    margin-top: 32px;
    padding: 16px 28px;
    font-family: var(--font-family);
    color: #344054;
    background-color: #fff;
    border: 1px solid #d0d5dd;
    @include btn;
    width: 300px;
    height: 44px;
  }
  .btn2 {
    font-family: var(--font-family);
    background-color: $btn-background-color;
    color: #ffffff;
    @include btn;
    width: 300px;
    height: 44px;
  }
  .statistics {
    margin-top: 32px;
    width: 300px;
    height: 175px;
    background-size: 300px 175px;
    padding: 5px 23px 17px 26px;
  }

  .statistics img {
    width: 230px;
    height: 151px;
  }
}